<p style="color: green"><%= notice %></p>

<%= render @admin_admin %>

<div>
  <%= link_to "Edit this admin", edit_admin_admin_path(@admin_admin) %> |
  <%= link_to "Back to admins", admin_admins_path %>

  <%= button_to "Destroy this admin", @admin_admin, method: :delete %>
</div>
